$primary-background: #eaeaec;
$secondary-background: #cae6e3;
$primary-color: #002d4b;
$main-font: "Major Mono Display", monospace;
$body-font: "Open Sans", sans-serif;
$input-width: 300px;

body {
  background-color: $primary-background;
  font-family: $body-font;
}

.pointer {
  cursor: pointer;
}

p {
  font-size: 1.4em;
}

.heading {
  font-family: $main-font;
}

.date {
  font-family: $main-font;
}

.customer-name {
  font-family: $main-font;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.btn {
  background-color: $secondary-background;
  border: none;
  font-family: $main-font;
  font-size: 1.3em;
  padding: 5px 0;
  width: 300px;
  &:disabled {
    border-bottom: 2px solid #000;
    color: #000;
  }
}

.login {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 6%;
  padding: 50px;
  width: $input-width;
}

label {
  display: flex;
  flex-direction: column;
  width: $input-width;
}

input {
  border: none;
  font-size: 1.3em;
  margin: 10px 0;
  padding: 5px 0;
}

.content {
  text-align: center;
}

.table-heading {
  background-color: $secondary-background;
}

td {
  padding: 5px 10px;
}

th {
  font-family: $main-font;
}

.content {
  margin-top: 50px;
}

.orders-content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 14%;
}

.rooms-content-bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 6%;
}

.rooms-content-customer {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.change-to-orders-btn {
  margin-bottom: 20px;
}

.room-type-filter {
  font-family: $main-font;
  margin: 0;
}

.customer-available-filter {
  text-align: left;
}

.customer {
  margin: auto;
  margin-top: 30px;
}

.customers-list {
  font-size: 1.2em;
  height: 200px;
  overflow: scroll;
  padding: 0;
  text-align: center;
  list-style-type: none;
}
